.li {
  float: left; 
  list-style: none; 
  width: 25%;  
  position: relative;
}
.li > a {
  padding: 5px 15px; 
  display: block; 
  text-align: center; 
  color: #000; 
  text-decoration: none;
}

.li > a::before {
  content: ""; 
  width: 1px; 
  height: 15px; 
  border-left: 1px solid #000; 
  position: absolute; 
  top: 9px; 
  left: -1px; 
}